@font-face {
    font-family: Quicksand;
    src: url(../fonts/quicksand/Quicksand-Regular.otf);
}

body {
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    background-color: #ffff;
    margin: 0;
    padding: 20px;
}

/* .logo {
    position: absolute;
    top: -450px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
} */ 
div {

    max-width: 800px;
    display: block;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 5px;

}

h1 {
    color: #333;
    margin: center;
    text-align: center;
}

.logoimg {
    height: 100px;
    width: auto;
}

.container {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

footer {
    font-family: Arial, Helvetica, sans-serif;
}

/* Edited out for further testing 
.button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #218838;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #f2f2f2;
    text-align: left;
}

*/ 